*,
*::before,
*::after{
    font-family: 'Tilt Neon', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active
{
    opacity: 1;
}
.checkbox{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}
.checkbox input{
    appearance: none;
    width: 20px;
    height: 20px;
    border:1px solid rgb(169, 248, 248);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}
.checkbox input:checked{
    background-color: aquamarine;
}
.checkbox input:checked::before{
    content: '✔';
    position: absolute;
    color: rgb(115, 161, 245);
    font-size: 1.05rem;
    left:50%;
    
    top:-3.5px;
}
.slider::-webkit-slider-thumb{
    height:1.2rem;
    width:1.2rem;
    border-radius: 100%;
    background-color:#edf8ff;
    box-shadow: 0px 0px 8px 0px hsl(202, 37%, 73%);
    appearance: none;
    cursor: pointer;
    transition: all 100ms ease-in;
    
}